@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Genos:wght@100;200;300;400;500;600;700;800;900&family=Libre+Baskerville:wght@400;700&family=Lilita+One&family=Lobster&family=Orbitron:wght@400;500;600;700;800;900&family=Pacifico&family=Permanent+Marker&family=Rajdhani:wght@300;400;500;600;700&family=Russo+One&family=Satisfy&family=Shantell+Sans:wght@300;400;500;600;700;800&display=swap");

/*  
    
    font-family: 'Lobster', cursive;
    font-family: 'Pacifico', cursive;
   
    */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #f4c531;
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 500px;
  height: 150px;
  background-color: #f9f9f9;
  border-radius: 5px;
}
.input-value {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
}
input {
  width: 70%;
  height: 35px;
  outline: none;
  padding: 10px;
  border-width: 2px;
  border-bottom-color: #221133;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  font-size: 18px;
}
.info-meals {
  text-align: center;
}
.full-container {
  display: flex;
  align-items: center;
  width: 550px;
  height: auto;
}
img {
  width: 150px;
  height: 125px;
}
.image-meal {
  width: 150px;
  height: 120px;
}
.meal-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 450px;
  height: 100px;
  background-color: #f4c531;
  border-radius: 4px;
  font-size: 28px;
}

h2 {
  font-size: 25px;
}
.country {
  font-size: 18px;
  padding-top: 10px;
}

.lists {
  display: grid;
  grid-template-columns: auto auto;
  width: 480px;
  padding-top: 10px;
  text-align: left;
  line-height: 25px;
  padding-left: 10px;
  font-size: 15px;
  row-gap: 0px;
  column-gap: 20px;
}

.recipe {
  display: flex;
  justify-content: end;
  align-items: end;
  width: 100%;
  height: auto;
  padding-top: 10px;
  margin-bottom: 20px;
  margin-right: 50px;
}
button {
  width: 120px;
  height: 50px;
  margin-right: 25px;
  outline: none;
  border-radius: 5px;
  border-width: 0;
  background-color: #f4c531;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}
.info-recipe {
  width: 550px;
  height: 400px;
  text-align: left;
  font-size: 15px;
  white-space: pre-wrap;
  padding: 20px;
}
.img-close {
  width: 100%;
  height: 30px;
  padding-right: 220px;
  margin-top: 10px;
}
img {
  cursor: pointer;
}
.background-recipe {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #f4c531;
  position: fixed;
}
.div-recipe {
  width: 550px;
  height: 600px;
  background-color: #fff;
  border-radius: 5px;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
h2 {
  font-size: 25px;
}
